@media(prefers-color-scheme: light){
    :root{
        --primary-text-color: white;
        --primary-background: #151437;
    }

    .logo::before{
        content:url(../img/logo-light.png)
    }
}

@media(max-width:992px){
    .header__button,
    .header__link
    {
        margin: 10px 0;
        line-height: 20px;
    }
}